<a href="https://colab.research.google.com/github/Maysk/challenge_data_science-alura_voz/blob/main/alura_challenge_semana_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## Material Auxiliar
- https://www.analyticsvidhya.com/blog/2021/04/20-must-known-pandas-function-for-exploratory-data-analysis-eda/

## Carregamento dos Dados


**Dicionario de dados**
*   https://github.com/sthemonica/alura-voz

In [2]:
alura_voice_raw = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [3]:
alura_voice_raw.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Aplicar algumas transformações sobre os dados

In [21]:
customers_df = pd.DataFrame.from_records(alura_voice_raw['customer'])
phone_df = pd.DataFrame.from_records(alura_voice_raw['phone'])
internet_df = pd.DataFrame.from_records(alura_voice_raw['internet'])
account_df = pd.DataFrame.from_records(alura_voice_raw['account'])
charges_df = pd.DataFrame.from_records(account_df['Charges'])

In [29]:
alura_voice =  pd.concat([alura_voice_raw[['customerID', 'Churn']],customers_df, phone_df, internet_df, account_df[['Contract', 'PaperlessBilling', 'PaymentMethod']], charges_df], axis=1)
alura_voice['Churn'] = alura_voice['Churn'].map({"Yes": "Sim", "No":"Nao"})

In [30]:
alura_voice.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Colunas e valores

In [52]:
for i in alura_voice.columns:
  if(alura_voice[i].nunique() < 10):
    print (i, alura_voice[i].nunique())
    print (alura_voice[i].value_counts())
    print('-----------')

Churn 3
No     5174
Yes    1869
        224
Name: Churn, dtype: int64
-----------
gender 2
Male      3675
Female    3592
Name: gender, dtype: int64
-----------
SeniorCitizen 2
0    6085
1    1182
Name: SeniorCitizen, dtype: int64
-----------
Partner 2
No     3749
Yes    3518
Name: Partner, dtype: int64
-----------
Dependents 2
No     5086
Yes    2181
Name: Dependents, dtype: int64
-----------
PhoneService 2
Yes    6560
No      707
Name: PhoneService, dtype: int64
-----------
MultipleLines 3
No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64
-----------
InternetService 3
Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64
-----------
OnlineSecurity 3
No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64
-----------
OnlineBackup 3
No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64
-----------
DeviceProtection 3
No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64
-----------
TechSupport 3
No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64
-----------
StreamingTV 3
No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64
-----------
StreamingMovies 3
No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64
-----------
Contract 3
Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64
-----------
PaperlessBilling 2
Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64
-----------
PaymentMethod 4
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64
-----------

array(['No', 'Yes', ''], dtype=object)